@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --------------------------------------------------------------------------------------------------------- */
.homePage {
    background: var(--bgColour);
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
    z-index: -999999;
}

.homePage::before {
    content: '';
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    background: radial-gradient(ellipse, rgba(238, 238, 238, 0.519), transparent 50%);
}

/* --------------------------------------------------------------------------------------------------------- */


/* 
.switchBtn {
    position: absolute;
    display: flex;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switchBtn img {
    width: 50px;
}

.switchBtn .leftBtn {
    position: absolute;
    left: 3%;
}

.switchBtn .rightBtn {
    position: absolute;
    right: 3%;
} */

/* --------------------------------------------------------------------------------------------------------- */


.sodaProductsDisplay {
    position: absolute;
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.sodaProductsDisplay .content {
    margin-left: 60px;
    width: 30%;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
}

.sodaProductsDisplay .content .title {
    font-size: calc(1.8rem + 1vw);
    font-weight: 600;
    color: #000000;
    margin: -10px 0 0 0;
}

.sodaProductsDisplay .price {
    font-size: calc(1rem + 0.5vw);
    margin: 0;
    font-weight: 500;
    color: #000000;
}

/* --------------------------------------------------------------------------------------------------------- */
/* Add cart Button */

.sodaProductsDisplay .content button {
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: #000000;
    line-height: 1.2;
    text-align: center;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    margin: 15px 0;
}

.sodaProductsDisplay .content button:hover {
    background: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 10px #00000064;
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------------------------------------- */


.sodaProductsDisplay .content .brief {
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 300;
    color: #000000;
    line-height: 1.2;
    text-align: justify;
    margin: 10px 0;
}

.sodaProductsDisplay .content .brandLogo {
    position: relative;
    width: calc(40% + 60px);
    height: auto;
    transform: translateX(-20px);
    filter: saturate(5) brightness(1);
}


/* --------------------------------------------------------------------------------------------------------- */

/* text content animation */

.sodaTextEnter {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s !important;
}

.sodaTextDownExit {
    opacity: 0;
    transform: translateY(70%);
}

.sodaTextUpExit {
    opacity: 0;
    transform: translateY(-70%);
}

/* --------------------------------------------------------------------------------------------------------- */


.imageContent {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transition: all 1s ease-in-out;
}

.imageContent::before {
    background: url(../assets/logo.png) no-repeat center center/contain;
    content: '';
    max-width: 1000px;
    max-height: 1000px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0.05;
    z-index: -99;
    transform: translate(-40%, -45%) scale(1);
}



.imageContent .sodaProd {
    position: relative;
    top: 10%;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;

}

.imageContent .sodaProd img {
    width: 200px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 20px #00000064);
}

.sodaImgExit {
    opacity: 0;
}

/* --------------------------------------------------------------------------------------------------------- */
/* sodaCan background animation  */

.sodaImgEnter::before {
    content: '';
    width: 900px;
    height: 900px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-38%, -30%) scale(1);
    background: var(--sodaBgImg);
    transition: all 1s ease-in-out;
    z-index: 0;
}

.sodaImgExit::before {
    content: '';
    width: 900px;
    height: 900px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-38%, -30%) scale(0);
    background: var(--sodaBgImg);
    transition: all 1s ease-in-out;
    z-index: 0;
}

/* --------------------------------------------------------------------------------------------------------- */
/* label scroll down icon */

.scrolldownIcon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: scrollDown 1s infinite;
}

.scrolldownIcon h1 {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    font-family: poppins, sans-serif;
    margin: 0;
    margin-top: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.scrolldownIcon img {
    width: 40px;
}



@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* --------------------------------------------------------------------------------------------------------- */

/* Tablet */

@media screen and (max-width: 1200px) {

    .sodaProductsDisplay {
        flex-direction: column-reverse;
    }


    .sodaProductsDisplay .content {
        width: 80%;
        margin: 70px 60px;
    }

    .sodaProductsDisplay .content .brandLogo {
        width: calc(40% + 10px);
    }

    .sodaTextEnter {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0.5s !important;
    }

    .sodaTextDownExit {
        opacity: 0;
        transform: translateX(60%);
    }

    .sodaTextUpExit {
        opacity: 0;
        transform: translateX(-60%);
    }

    /* --------------------------------------------------------------------------------------------------------- */

    .imageContent {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        height: 100vh;
        transition: all 1s ease-in-out;
    }

    .imageContent::before {
        background: url(../assets/logo.png) no-repeat center center/contain;
        content: '';
        max-width: 500px;
        max-height: 500px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        opacity: 0.05;
        z-index: -99;
        transform: translate(-40%, -45%) scale(1);
    }



    .imageContent .sodaProd {
        position: relative;
        top: 5%;
        left: -5%;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;

    }

    .imageContent .sodaProd img {
        width: 150px;
        object-fit: contain;
        filter: drop-shadow(0px 0px 20px #00000064);
    }



    /* --------------------------------------------------------------------------------------------------------- */
    /* sodaCan background animation  */

    .sodaImgEnter::before {
        content: '';
        width: 600px;
        height: 600px;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(-38%, -30%) scale(1);
        background: var(--sodaBgImg);
        transition: all 1s ease-in-out;
        z-index: 0;
    }

    .sodaImgExit::before {
        content: '';
        width: 600px;
        height: 600px;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(-38%, -30%) scale(0);
        background: var(--sodaBgImg);
        transition: all 1s ease-in-out;
        z-index: 0;
    }

    /* --------------------------------------------------------------------------------------------------------- */



}

/* --------------------------------------------------------------------------------------------------------- */

/* Mobile */

@media screen and (max-width: 600px) {


    .sodaProductsDisplay .content .brandLogo {
        width: calc(20% + 60px);
    }

    .sodaProductsDisplay .content .title {
        font-size: calc(1rem + 1vw);
        font-weight: 600;
        color: #000000;
        margin: -10px 0 0 0;
    }

    .sodaProductsDisplay .price {
        font-size: calc(0.8rem + 0.2vw);
        margin: 0;
        font-weight: 500;
        color: #000000;
    }

    /* --------------------------------------------------------------------------------------------------------- */
    /* Add cart Button */

    .sodaProductsDisplay .content button {
        position: relative;
        font-size: 12px;
        font-weight: 900;
        color: #000000;
        line-height: 1.2;
        text-align: center;
        background: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 7px 20px;
        cursor: pointer;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        margin: 5px 0;
    }

    /* --------------------------------------------------------------------------------------------------------- */

    .sodaProductsDisplay .content .brief {
        font-size: calc(0.5rem + 0.5vw);
        font-weight: 300;
        color: #000000;
        line-height: 1.2;
        text-align: justify;
        margin: 10px 0;
    }

    /* --------------------------------------------------------------------------------------------------------- */

    .imageContent {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        height: 100vh;
        transition: all 1s ease-in-out;
    }

    .imageContent::before {
        background: url(../assets/logo.png) no-repeat center center/contain;
        content: '';
        max-width: 300px;
        max-height: 300px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        opacity: 0.05;
        z-index: -99;
        transform: translate(-50%, -45%) scale(1);
    }



    .imageContent .sodaProd {
        position: relative;
        top: 4%;
        left: -10%;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;

    }

    .imageContent .sodaProd img {
        width: 80px;
        object-fit: contain;
        filter: drop-shadow(0px 0px 20px #00000064);
    }

    /* --------------------------------------------------------------------------------------------------------- */
    /* sodaCan background animation  */

    .sodaImgEnter::before {
        content: '';
        width: 350px;
        height: 350px;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(-38%, -30%) scale(1);
        background: var(--sodaBgImg);
        transition: all 1s ease-in-out;
        z-index: 0;
    }

    .sodaImgExit::before {
        content: '';
        width: 350px;
        height: 350px;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(-38%, -30%) scale(0);
        background: var(--sodaBgImg);
        transition: all 1s ease-in-out;
        z-index: 0;
    }

    /* --------------------------------------------------------------------------------------------------------- */



}